<style>
  .caixa { display: flex; justify-content: center; align-items: center; width:
  100%; height: 100%; background-color: rgba(0, 0, 0, 0.4); position: absolute;
  top: 0; left: 0; } .lista { display: flex; flex-wrap: wrap; justify-content:
  center; align-items: center; } .item { display: flex; align-items: center;
  margin: 10px; padding: 15px; background-color: rgba(109, 26, 165, 0.596);
  border-radius: 10px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); transition:
  0.2s;} .item:hover { transform: scale(1.1); transition: transform 0.2s
  ease-in-out; background-color: rgba(170, 90, 223, 0.829);} .item img { width:
  100px; height: 100px; object-fit: cover; border-radius: 50%; margin-right:
  10px; } .item .guild-icon { width: 100px; height: 100px; border-radius: 50%;
  background-color: rgb(168, 17, 228); text-align: center; line-height: 100px;
  color: #FFF; font-weight: bold; margin-right: 10px; } .item
  .guild-icon::before { content: attr(data-initials); font-size: 24px; } .item
  h3 { color: #FFF} .item p {color: #FFF}
</style>
<div class="caixa">
  {{#if guilds}}
    <div class="lista">
      {{#each guilds}}
        <div class="item" onclick="window.location.href='/server/{{id}}'">
          {{#if iconURL}}
            <img src="{{iconURL}}" alt="{{name}}" />
          {{else}}
            <div class="guild-icon" data-initials="{{initials}}"></div>
          {{/if}}
          <div class="server-data">
            <h3>{{this.name}}</h3>
            <p>{{members}} members</p>
          </div>
        </div>
      {{/each}}
    </div>
  {{else}}
    <p>Não há guilds disponíveis.</p>
  {{/if}}
</div>